-
    var header = '#recent clients'
    var clientList = [
        "/asset/image/client/Webp.net-resizeimage(1).png",
        "/asset/image/client/Webp.net-resizeimage(2).png",
        "/asset/image/client/Webp.net-resizeimage(3).png",
        "/asset/image/client/Webp.net-resizeimage(4).png"
    ];

#client
.client
    .client__header=header
    .client__list
        each client in clientList
            .client__image